<html lang="en-US">
	<head>
		<meta charset="utf-8">
		<meta name='viewport', width='device-width, initial-scale=1.0'>
		<link rel'stylesheet' href='public/css/styles.css'>
	</head>

	<header>
		<h2>About STEM-ACT</h2>
	</header>

	<body>
	</body>

	<footer>
	</footer>
</html>
