<!-- Home page for STEM-ACT Platform -->

<html lang="EN-US">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
		<link rel="stylesheet" href="public/css/styles.css">
	</head>

	<header>
		<h2>STEM-ACT</h2>
	</header>

	<body>
		

	</body>
</html>
