<!-- Home page for STEM-ACT Platform -->
<%- include('partials/header') %>

	<header>
		<h2>STEM-ACT</h2>
	</header>

	<body>
		<p>About page:</p>
		<a href=/about>About</a>

<%- include('partials/footer.ejs') %>
