<html lang="en-US">
	<head>
		<meta charset="utf-8">
		<meta name='viewport' content='width=device-width, initial-scale=1.0'>
		<link rel='stylesheet' href='public/css/styles.css'>

	</head>

	<body>
		<div class='header-menu'>
			<h3>STEM-ACT</h3>
			<div class='dropdown'>
				<button onclick='myFunction()' class='dropbtn'>Dropdown</button>
				<div id='my-dropdown' class='dropdown-content'>
					<a href='/'>Home</a>
					<a href='/about'>About</a>
				</div>	
			</div>
				


